/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 150px;
    padding-right: 150px;
}

/* Classes */

.text__gray {
    color: #707070;
}

.primary__title {
    font-size: 48px;
    font: 900;
}

.secundary__title {
    font-size: 28px;
    padding-bottom: 20pxs;
}

.text__body {
    font-size: 18px;
    width: 600px;
    padding-right: 120px;
    padding-bottom: 40px;
}

.img__sintlucas {
    height: 100px;
}

.display__flex {
    display: flex;
}

.container__buttons {
    margin-top: 40px;
}

.primary__button {
    background-color: #70707000;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    border: 2px solid #707070;
    color: #707070;
    font-size: 18px;
    cursor: pointer;
}

.margin__right {
    margin-right: 20px;
}

li {
    list-style: circle;
    font-size: 20px;
    margin-bottom: 15px;
    
}

li::marker {
    font-size: 1.5em;
}

.style__img {
    width: 400px;
    padding-top: 30px;
}