/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/* Body */
body {
    font-family: 'Roboto', sans-serif;
<<<<<<< HEAD
=======
}

/* Classes */

.text__black {
    color: black;
}

.img__sintlucas {
    height: 100px;
>>>>>>> parent of 10c6986 (v5)
}